/* Shortcode:Contact Form
-------------------------------------------------------------------- */
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
/* Captcha*/
.contact-captcha-invalid::-moz-placeholder,
.contact-captcha-invalid:-moz-placeholder{
  color: red !important;
  letter-spacing: 0 !important;
}
.contact-captcha-invalid::-webkit-input-placeholder {
  color: red !important;
  letter-spacing: 0 !important;
}
.contact-captcha-invalid:-ms-input-placeholder {
  color: red !important;
  letter-spacing: 0 !important;
}


.contact-captcha-valid::-moz-placeholder,
.contact-captcha-valid:-moz-placeholder{
  color: #008200 !important;
  letter-spacing: 0 !important;
}
.contact-captcha-valid::-webkit-input-placeholder {
  color: #008200 !important;
  letter-spacing: 0 !important;
}
.contact-captcha-valid:-ms-input-placeholder {
  color: #008200 !important;
  letter-spacing: 0 !important;
}

.mk-contact-form {
  position: relative;
  margin-bottom: 20px;
}
.mk-contact-form .mk-form-third {
  width: 33.3333%;
  display: inline-block;
}
.mk-contact-form .mk-form-half {
  width: 50%;
  display: inline-block;
}
.mk-contact-form .s_form-all {
  position: relative;
}
/* .s_form-all={.mk-form-full,.mk-form-half,.mk-form-third}*/
/* .s_txt-input={.text-input,.mk-textarea}*/
.mk-contact-form .s_form-all .s_txt-input {
  -webkit-appearance: none;
}


/* Contact Form Styles
/**************************************************/
.mk-contact-loading {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: none;
  color: #c3c3c3;
  font-size: 16px;
}
.mk-contact-success {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: none;
  width: 24px;
  height: 24px;
  color: #90b64d;
  font-size: 24px;
}
.mk-invalid {
  border: 1px solid #ff0000;
}
/*=======================
General [ Modern Style ]
 ========================*/
.s_contact .mk-form-row {
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
  position: relative;
}
.s_contact .s_txt-input {
  font-size: 14px;
  padding: 14px;
  text-align: center;
  width: 100%;
  border: medium none;
}
.s_contact .text-input.half {
  width: 50%;
}
.s_contact .text-input.two-third {
  width: 33.3333%;
}
.s_contact .mk-textarea {
  height: 200px;
}
.s_contact .captcha-image {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 47px;
}
.s_contact .captcha-change-image {
  position: absolute;
  top: 15px;
  right: 10px;
  text-align: right;
  font-size: 10px;
  line-height: 1;
}
.s_contact .mk-invalid {
  border: 1px solid #ff0000 !important;
}
/* Light Color Theme */
.s_contact.light .captcha-change-image {
  color: #333;
}
.s_contact.light .s_txt-input,
.s_contact.dark .s_txt-input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #252525;
  border: none;
}

.s_contact.light .s_txt-input::-moz-placeholder,
.s_contact.light .s_txt-input:-moz-placeholder {
  color: #252525;
}
.s_contact.light .s_txt-input::-moz-placeholder,
.s_contact.light .s_txt-input:-moz-placeholder {
  color: #252525;
}

.s_contact.dark .s_txt-input:focus::-webkit-input-placeholder{
  color: #252525;
}
.s_contact.dark .s_txt-input:focus:-ms-input-placeholder{
  color: #252525;
}
.s_contact.light .s_txt-input:-ms-input-placeholder {
  color: #252525;
}
.s_contact.light .s_txt-input::-webkit-input-placeholder{
  color: #252525;
}
/* Dark Color Theme */
.s_contact.dark .captcha-change-image {
  color: #969696;
}
.s_contact.dark .s_txt-input,
.s_contact.light .s_txt-input:focus {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: none;
}
.s_contact.light .s_txt-input:focus::-moz-placeholder,
.s_contact.light .s_txt-input:focus:-moz-placeholder {
  color: #ffffff;
}
.s_contact.dark .s_txt-input::-moz-placeholder,
.s_contact.dark .s_txt-input:-moz-placeholder {
  color: #ffffff;
}
.s_contact.light .s_txt-input:focus::-webkit-input-placeholder{
  color: #ffffff;
}
.s_contact.dark .s_txt-input:-ms-input-placeholder {
  color: #ffffff;
}
/*=======================
modern Style
========================*/
.s_contact .s_txt-input {
  border: medium none;
}
/*=======================
Outline Style
========================*/
.s_contact.s_outline .mk-form-row {
  margin-bottom: 0;
}
.s_contact.s_outline .captcha-block {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}
.s_contact.s_outline .captcha-block a,
.s_contact.s_outline .captcha-block img {
  text-align: left;
  max-height: none;
}
.s_contact.s_outline .captcha-block a {
  display: inline-block;
  padding: 17px 0;
  position: static;
}
.s_contact.s_outline .captcha-block img {
  height: 50px;
  max-width: 50%;
  position: relative;
  top: -5px;
}
.s_contact.s_outline .s_txt-input {
  margin: 0;
  background-color: transparent;
  outline: 0 none;
  transition: all 0.2s ease 0s;
  padding: 18px;
  text-align: left;
}
.s_contact.s_outline .s_txt-input::-webkit-input-placeholder{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.s_contact.s_outline .s_txt-input:-ms-input-placeholder{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.s_contact.s_outline .s_txt-input:-moz-placeholder,
.s_contact.s_outline .s_txt-input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.s_contact.s_outline .contact-outline-submit {
  width: 100%;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding: 18px;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.15s ease 0s;
}
.s_contact.s_outline .mk-contact-loading {
  right: 15px;
  bottom: 16px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
}
.s_contact.s_outline .mk-contact-success {
  right: 15px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.s_contact.s_outline .mk-invalid {
  border: 1px solid #ff0000;
  box-shadow: 0 0 0 1px #ff0000 !important;
}
/* Light Color Theme */
.s_contact.s_outline.light .captcha-change-image {
  color: #969696;
}
.s_contact.s_outline.light .s_txt-input,
.s_contact.s_outline.light .contact-outline-submit {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 0 1px #e5e5e5;
  color: #ffffff;
}
.s_contact.s_outline.light .s_txt-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.s_contact.s_outline.light .s_txt-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.s_contact.s_outline.light .s_txt-input::-moz-placeholder,
.s_contact.s_outline.light .s_txt-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.s_contact.s_outline.light .s_txt-input:focus {
  background: rgba(255, 255, 255, 0.1);
}
.s_contact.s_outline.light .contact-outline-submit:hover {
  background: rgba(255, 255, 255, 0.4);
}
.s_contact.s_outline.light .mk-contact-loading,
.s_contact.s_outline.light .mk-contact-success {
  color: #ffffff;
}
/* Dark Color Theme */
.s_contact.s_outline.dark .captcha-change-image {
  color: #333;
}
.s_contact.s_outline.dark .s_txt-input,
.s_contact.s_outline.dark .contact-outline-submit {
  border: 1px solid #333;
  box-shadow: 0 0 0 1px #333;
  color: #222222;
}
.s_contact.s_outline.dark .s_txt-input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.8); 
}
.s_contact.s_outline.dark .s_txt-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.s_contact.s_outline.dark .s_txt-input::-moz-placeholder,
.s_contact.s_outline.dark .s_txt-input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.s_contact.s_outline.dark .s_txt-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #222222;
}
.s_contact.s_outline.dark .contact-outline-submit:hover {
  background: rgba(0, 0, 0, 0.3);
}
.s_contact.s_outline.dark .mk-contact-loading,
.s_contact.s_outline.dark .mk-contact-success {
  color: #222222;
}
/*=======================
Corporate Style
 ========================*/
.s_contact.s_corporate .mk-form-row {
  margin-bottom: 0;
}
.s_contact.s_corporate .captcha-image {
  max-height: 54px;
  top: 4px;
  right: 0;
  z-index: 10;
  left: auto;
}
.s_contact.s_corporate .captcha-change-image {
  display: block;
  padding: 10px 0;
  position: static;
}
.s_contact.s_corporate .s_form-all {
  padding: 5px;
}
.s_contact.s_corporate .s_txt-input {
  margin: 0;
  transition: all 0.2s ease 0s;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid transparent;
}
.s_contact.s_corporate .s_txt-input::-webkit-input-placeholder,
.s_contact.s_corporate .s_txt-input:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 2px;
}
.s_contact.s_corporate .s_txt-input::-moz-placeholder,
.s_contact.s_corporate .s_txt-input:-moz-placeholder {
  font-size: 12px;
  letter-spacing: 2px;
}
.s_contact.s_corporate .s_txt-input:focus {
  background: red;
}
.s_contact.s_corporate .s_txt-input:focus:-ms-input-placeholder,
.s_contact.s_corporate .s_txt-input:focus::-webkit-input-placeholder {
  opacity: .8;
}
.s_contact.s_corporate .s_txt-input:focus:-moz-placeholder,
.s_contact.s_corporate .s_txt-input:focus::-moz-placeholder {
  opacity: .8;
}
.s_contact.s_corporate .contact-submit {
  padding: 20px 28px;
  transition: all 0.15s;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
.s_contact.s_corporate .contact-submit i {
  position: relative;
  left: 15px;
}
.s_contact.s_corporate .mk-contact-loading {
  right: 15px;
  bottom: 16px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
}
.s_contact.s_corporate .mk-contact-success {
  right: 15px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.s_contact.s_corporate .state-success {
  right: 30px !important;
}
.s_contact.s_corporate .mk-invalid {
  border: 1px solid #ff0000;
  box-shadow: 0 0 0 1px #ff0000 !important;
}
/*==============
 Classic Style
 ===============*/
.s_contact.s_classic .mk-form-row {
  text-align: left;
}
.s_contact.s_classic .captcha-image {
  max-height: 40px;
  position: static;
}
.s_contact.s_classic .captcha-change-image {
  position: static;
  text-align: left;
}
.s_contact.s_classic i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.s_contact.s_classic i::before {
  font-size: 20px;
}
.s_contact.s_classic .s_txt-input {
  padding: 10px 10px 10px 45px;
  width: 70%;
  border: 1px solid #e3e3e3;
  text-align: left;
}
.s_contact.s_classic .mk-textarea {
  height: 230px;
  width: 100%;
}
.s_contact.s_classic button {
  margin-top: 10px;
  padding: 17px 30px 16px;
  font-weight: bold;
  font-size: 12px;
}
.s_contact.s_classic:last-of-type i {
  color: inherit;
}
@media handheld, only screen and (max-width: 767px) {
  .s_contact.s_classic .s_txt-input,
  .s_contact.s_classic .mk-textarea {
    width: 100%
  }
}
/*=======================
Line Style
 ========================*/
.s_contact.s_line .s_txt-input,
.s_contact.s_line .mk-form-row {
  text-align: left !important; 
}
.s_contact.s_line .captcha-image {
  max-height: 38px;
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 10;
  left: auto;
}
.s_contact.s_line .captcha-change-image-box {
  display: block;
  padding: 10px 0;
  position: relative;
  top: -20px;
}
.s_contact.s_line .contact-submit {
  font-size: 12px;
  transition: all 0.15s;
  float: right;
  margin-right: 5px;
}
.s_contact.s_line .mk-form-half {
  width: calc(50% - 10px);
}
.s_contact.s_line .mk-form-third {
  width: calc(33.3% - 10px);
}
.s_contact.s_line .s_form-all {
  margin: 5px;
}
.s_contact.s_line .text-input {
  height: 45px;
}
.s_contact.s_line .s_txt-input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding: 0;
  margin-bottom: 2em;
  color: #000;
  display: block;
  border: 0 none;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.s_contact.s_line .s_txt-input:focus {
  outline: none;
}
.s_contact.s_line .ls-text-label {
  display: inline-block;
  color: #000000;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 1em;
  padding: 10px 0 5px;
  pointer-events: none;
  left: 0;
  top: 0;
}
.s_contact.s_line .ls-text-label.full {
  height: 92%;
  padding: 0;
}
.s_contact.s_line .ls-text-label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: #000000;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}
.s_contact.s_line .ls-text-label .ls-text-label--content {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}
.s_contact.s_line .text-input.mk-invalid {
  border: 0 !important;
}
.s_contact.s_line .text-input.mk-invalid + .ls-text-label::after {
  background-color: red !important;
}
.s_contact.s_line .is-active .ls-text-label::after,
.s_contact.s_line .text-input.mk-invalid + .ls-text-label::after,
.s_contact.s_line .mk-textarea.mk-invalid + .ls-text-label::after,
.s_contact.s_line .is-active .ls-text-label::after,
.text-input:focus + .ls-text-label::after,
.mk-textarea:focus + .ls-text-label::after {
  background: #222222;
  -webkit-transform: scale3d(1, 0.25, 1);
          transform: scale3d(1, 0.25, 1);
}
.s_contact.s_line .is-active .text-input + .ls-text-label .ls-text-label--content,
.s_contact.s_line .text-input:focus + .ls-text-label .ls-text-label--content {
  -webkit-transform: translate3d(0, 3em, 0) scale3d(0.655, 0.655, 1);
          transform: translate3d(0, 3em, 0) scale3d(0.655, 0.655, 1);
}
.s_contact.s_line .is-active .mk-textarea + .ls-text-label .ls-text-label--content,
.s_contact.s_line .mk-textarea:focus + .ls-text-label .ls-text-label--content {
  -webkit-transform: translate3d(0, 14em, 0) scale3d(0.655, 0.655, 1);
          transform: translate3d(0, 14em, 0) scale3d(0.655, 0.655, 1);
}
/* Responsive
/**************************************************/
@media handheld, only screen and (max-width: 960px) {
  .mk-contact-form-shortcode .contact-form-spliter {
    float: none !important;
    margin-bottom: 6px;
    width: 100% !important;
  }
  .mk-contact-form-shortcode button {
    display: block;
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .mk-contact-form .text-input,
  .mk-contact-form .mk-textarea,
  .mk-contact-form .mk-form-half,
  .mk-contact-form .mk-form-third {
    width: 100% !important; 
  }
}