/* Shortcode:Image
-------------------------------------------------------------------- */
.mk-image {
  position: relative;
  line-height: 4px;
}
.mk-image.align-left {
  text-align: left;
}
.mk-image.align-right {
  float: right;
}
.mk-image.align-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.mk-image.align-center .mk-image-inner {
  margin: 0 auto;
}
.mk-image.align-center .mk-image-inner img {
  transition: filter .2s ease;
} 
.mk-image.lightbox-enabled .mk-image-inner:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  /* Current draft standard */
  filter: gray;
  /* IE */
  -webkit-filter: grayscale(1);
  /* Old WebKit */
}
.mk-image.rounded-frame {
  border-radius: 4px;
}
.mk-image.rounded-frame img,
.mk-image.rounded-frame .mk-image-overlay {
  border-radius: 4px;
}
.mk-image.gray_border-frame .mk-image-inner {
  border: 6px solid rgba(0, 0, 0, 0.06);
}
.mk-image.border_shadow-frame .mk-image-inner {
  border: 6px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.mk-image.shadow_only-frame .mk-image-inner {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.mk-image.single_line-frame .mk-image-inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mk-image .mk-image-inner {
  position: relative;
  overflow: hidden;
  width: auto;
}

.mk-image .mk-image-inner.is-svg {
  display: inline-block; 
}
.mk-image .mk-image-inner img {
  width: 100%;
}
.mk-image .mk-image-inner:hover .mk-image-overlay {
  opacity: .9;
}
.mk-image .mk-image-inner:hover .mk-image-lightbox {
  opacity: 1;
}
.mk-image.inside-image .mk-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  background-color: #4c4c4c;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border-radius: 4px;
}
.mk-image.inside-image .mk-image-caption:hover {
  background-color: #383838;
  background-color: rgba(0, 0, 0, 0.5);
}
.mk-image.inside-image .mk-image-caption .mk-caption-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.mk-image.inside-image .mk-image-caption .mk-caption-desc {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
}
.mk-image.outside-image .mk-image-caption {
  margin: 10px 0;
}
.mk-image.outside-image .mk-image-caption .mk-caption-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.mk-image.outside-image .mk-image-caption .mk-caption-desc {
  display: block;
  margin-top: 5px;
  font-style: italic;
  font-size: 11px;
  line-height: 18px;
}

@media handheld, only screen and (max-width: 480px) {
  .inside-image .mk-image-caption {
    display: none !important;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .mk-image.align-left,
  .mk-image.align-right {
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }
}