.ajax-container {
  position: relative;
  overflow: hidden;
  height: 0;
  margin: 0 auto;
  opacity: 0;
}
.ajax_project {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-top: none;
}
.ajax-controls {
  border: 1px solid #dddddd;
  overflow: hidden;
  margin-top: 20px;
}
.ajax-controls a {
  float: right;
  width: 37px;
  height: 37px;
  text-align: center;
  color: #bbbbbb;
  border-left: 1px solid #dddddd;
}
.ajax-controls a i {
  font-size: 16px;
  line-height: 37px;
}
.ajax-controls a:hover {
  color: #222222;
}
@media handheld, only screen and (max-width: 960px) {
  .ajax-portfolio-share.portfolio-social-share {
    text-align: center;
  }
  .ajax-portfolio-share.portfolio-social-share .mk-love-holder,
  .ajax-portfolio-share.portfolio-social-share .blog-share-container {
    float: none !important;
  }
  .ajax-portfolio-share.portfolio-social-share.single-social-section .single-share-box {
    left: -120px !important;
    right: auto !important;
    bottom: -60px !important;
    width: 180px !important;
  }
  .ajax-portfolio-share.portfolio-social-share.single-social-section .single-share-box:before {
    display: none !important;
  }
}

.portfolio-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.portfolio-loader .mk-preloader {
  position: relative;
  left: auto;
  margin: 0;
  top: auto;
}
.portfolio-loader > div {
  background: #ffffff;
  border-radius: 50%;
  padding: 10px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
}
.portfolio-grid  {
  overflow: hidden;
}
.mk-fullwidth-true .mk-portfolio-container.mk-portfolio-grid {
  width: 100.5% !important;
}
.mk-portfolio-classic-item {
  float: left;
}
.mk-portfolio-classic-item {
  margin-top: 20px;
}
.mk-portfolio-classic-item .item-holder {
  margin: 0 10px 20px 10px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  overflow: hidden;
}
.mk-portfolio-classic-item .the-title {
  padding: 0 !important;
}
.mk-portfolio-classic-item .hover-icon {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -22px;
  opacity: 0;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
}
.mk-portfolio-classic-item .hover-icon i {
  font-size: 32px;
  color: #ffffff;
  line-height: 32px;
}
.mk-portfolio-classic-item .from-left {
  margin-left: -50px;
  right: auto;
  left: 45%;
}
.mk-portfolio-classic-item .from-right {
  margin-right: -50px;
  right: 45%;
}
.mk-portfolio-classic-item .from-right.move-to-right {
  margin-right: -20px !important;
}
.mk-portfolio-classic-item .featured-image {
  position: relative;
}
.mk-portfolio-classic-item .featured-image img {
  position: relative;
  width: 100%;
}
.mk-portfolio-classic-item .featured-image:hover .hover-icon {
  opacity: 1;
}
.mk-portfolio-classic-item .featured-image:hover .from-left {
  left: 50%;
}
.mk-portfolio-classic-item .featured-image:hover .from-right {
  right: 50%;
}
.mk-portfolio-classic-item .featured-image:hover .image-hover-overlay {
  opacity: 0.8;
}
.portfolio-meta-wrapper {
  padding: 20px;
}
.portfolio-meta-wrapper .the-title {
  line-height: 20px !important;
  margin-bottom: 8px;
  font-size: 14px !important;
}
.portfolio-meta-wrapper .the-title a {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.portfolio-meta-wrapper .portfolio-categories a {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.portfolio-meta-wrapper .the-excerpt {
  margin-top: 10px;
  margin-bottom: 0;
  opacity: 0.8;
}
.mk-portfolio-grid-item {
  float: left;
  overflow: hidden;
}
.mk-portfolio-masonry-item .the-title a,
.mk-portfolio-grid-item .the-title a{
  color: #fff;
}

.mk-fullwidth-false .mk-portfolio-grid-item.six-column .portfolio-meta {
  display: none;
}
.mk-fullwidth-true .mk-portfolio-grid-item.two-column {
  width: 49.96%;
}

/* I'm comment this because if we are using 
/* with dashboard it's showing empty space on right side.
/*******************************/
.mk-fullwidth-true .mk-portfolio-grid-item.five-column {
  width: 19.96%;
}

.mk-fullwidth-true .mk-portfolio-grid-item.six-column {
  width: 16.6666666666667%;
}
.mk-portfolio-container {
  transition: height 0.3s 0.3s;
}
.mk-portfolio-container:after,
.mk-portfolio-container:before {
  content: " ";
  display: table;
}
.mk-portfolio-container:after {
  clear: both;
}
.mk-portfolio-container.grid-spacing-true .one-column {
  margin: 0 !important;
}
.mk-portfolio-container.grid-spacing-true .four-column {
  width: 25%;
}
.mk-isotop-item {
  float: left;
}
.mk-portfolio-masonry-item {
  position: relative;
  width: 12.5%;
  overflow: hidden;
  border-top-width: 0;
  border-style: solid;
  border-color: transparent;
  box-sizing: border-box;
  float: left;
}


.mk-portfolio-masonry-item.size_two_x_x,
.mk-portfolio-masonry-item.size_two_x_two_x {
  width: 25%;
}
.mk-portfolio-masonry-item.size_three_x_x,
.mk-portfolio-masonry-item.size_three_x_two_x {
  width: 37.5%;
}
.mk-portfolio-masonry-item.size_four_x_x,
.mk-portfolio-masonry-item.size_four_x_two_x {
  width: 50%;
}
.mk-portfolio-masonry-item .item-holder {
  margin: 0;
}
@media handheld, only screen and (max-width: 1280px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x,
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 25%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 25%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x,
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 50%;
  }
}
@media handheld, only screen and (max-width: 1140px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x,
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x,
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 50%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 50%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 850px) {
  .mk-portfolio-masonry-item.size_x_x,
  .mk-portfolio-masonry-item.size_x_two_x {
    width: 50%;
  }
  .mk-portfolio-masonry-item.size_two_x_x,
  .mk-portfolio-masonry-item.size_two_x_two_x {
    width: 100%;
  }
  .mk-portfolio-masonry-item.size_three_x_x,
  .mk-portfolio-masonry-item.size_three_x_two_x {
    width: 100%;
  }
  .mk-portfolio-masonry-item.size_four_x_x,
  .mk-portfolio-masonry-item.size_four_x_two_x {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .mk-portfolio-masonry-item {
    width: 100% !important;
  }
}
.mk-portfolio-masonry-item .featured-image {
  line-height: 4px;
  position: relative;
}
.mk-portfolio-masonry-item .featured-image > img {
  max-width: 100%;
  width: 100% !important;
}
.single-featured-image,
.mk-portfolio-video {
  margin-bottom: 20px;
}
.portfolio-social-share {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.portfolio-social-share.single-social-section .single-share-box {
  left: -220px !important;
}
@media handheld, only screen and (max-width: 960px) {
  .portfolio-social-share.single-social-section .single-share-box {
    right: -200px;
    left: auto !important;
  }
}
.portfolio-title {
  display: block;
  font-size: 26px !important;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 3px solid #dddddd;
}
.portfolio-single-cat {
  float: left;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
.portfolio-desc {
  margin-bottom: 20px;
  padding-right: 40px;
}
.portfolio-single-content {
  margin-bottom: 40px;
}
.portfolio-similar-posts {
  padding: 60px 0;
  border-top: 1px solid #dfe2e5;
  background-color: rgba(0, 0, 0, 0.03);
}
.portfolio-similar-posts .similar-post-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #3f3f3f;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 3px;
}
.portfolio-similar-posts ul {
  margin: 0;
  padding: 0;
  line-height: 4px;
  text-align: center;
  width: 100%;
}
.portfolio-similar-posts ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 25%;
}
@media handheld, only screen and (max-width: 960px) {
  .portfolio-similar-posts ul li {
    width: 33.33%;
  }
}
@media handheld, only screen and (max-width: 780px) {
  .portfolio-similar-posts ul li {
    width: 50%;
  }
}
@media handheld, only screen and (max-width: 550px) {
  .portfolio-similar-posts ul li {
    width: 100%;
  }
}
.portfolio-similar-posts-image {
  position: relative;
  line-height: 4px;
}
.portfolio-similar-posts-image .modern-post-type-icon {
  top: 4%;
  display: block;
  width: 100%;
  left: 0;
  margin-left: 0!important;
  padding: 20px 0;
  position: absolute;
  opacity: 0;
  text-align: center;
  line-height: 100px;
  color: #fff;
  z-index: 50;
  transition: opacity .3s, top .3s ;
}
.portfolio-similar-posts-image .modern-post-type-icon i {
  font-size: 48px;
  line-height: 50px;
}
.portfolio-similar-posts-image img {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.portfolio-similar-posts-image .image-hover-overlay {
  background-color: #000000 !important;
}
.portfolio-similar-posts-image .portfolio-similar-meta {
  bottom: 0;
}
.portfolio-similar-posts-image:hover .portfolio-similar-meta {
  opacity: 1;
  bottom: 10px;
}
.portfolio-similar-posts-image:hover .modern-post-type-icon {
  opacity: 1;
  top: 7%;
}
.portfolio-similar-posts-image:hover .image-hover-overlay {
  opacity: .8;
}
.portfolio-similar-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  line-height: 22px;
  opacity: 0;
}
.portfolio-similar-meta .the-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.portfolio-similar-meta .portfolio-categories {
  color: #ffffff;
}
#mk-filter-portfolio ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  display: inline-block;
  width: 100%;
}
#mk-filter-portfolio ul.align-left {
  text-align: left;
}
#mk-filter-portfolio ul.align-center {
  text-align: center;
}
#mk-filter-portfolio ul.align-right {
  text-align: right;
}
#mk-filter-portfolio ul li {
  display: inline-block;
  margin: 0 10px 10px 0;
}
#mk-filter-portfolio.sortable-classic-style {
  padding: 40px 0;
}
#mk-filter-portfolio.sortable-classic-style ul li {
  margin: 8px;
}
#mk-filter-portfolio.sortable-classic-style ul li a {
  padding: 14px 16px;
  line-height: 13px;
  font-size: 13px;
  color: #333333;
  color: #323232;
  display: block;
  letter-spacing: 1px;
}
#mk-filter-portfolio.sortable-classic-style ul li a.current {
  background-color: #969696;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
#mk-filter-portfolio.sortable-outline-style {
  padding: 30px 0px;
}
#mk-filter-portfolio.sortable-outline-style.portfolio-fiter-classic {
  margin-bottom: 20px;
}
#mk-filter-portfolio.sortable-outline-style ul li {
  margin: 8px;
}
#mk-filter-portfolio.sortable-outline-style ul li a {
  padding: 11px 12px;
  line-height: 13px;
  font-size: 13px;
  font-weight: bold;
  display: block;
  border: 2px solid transparent;
  letter-spacing: 1px;
}