.mk-employees.c_cs.one-column .mk-employee-item {
  padding: 0 0 50px;
}
.mk-employees.c_cs.two-column .mk-employee-item {
  padding: 0 40px 70px 40px;
}
.mk-employees.c_cs.three-column .mk-employee-item {
  padding: 0 30px 70px 30px;
}
.mk-employees.c_cs.four-column .mk-employee-item {
  padding: 0 25px 70px 25px;
}
.mk-employees.c_cs.five-column .mk-employee-item {
  padding: 0 25px 60px 25px;
}
/* ==========================================================================
   Classic Style
   ========================================================================== */
.mk-employees.classic .team-member-name {
  margin-bottom: 8px;
}
.mk-employees.classic .team-member-position {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
}
.mk-employees.classic.o3col .mk-employeee-networks a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.mk-employees.classic .employee-hover-overlay {
  -webkit-transform: rotate(45deg) scale(0, 2);
      -ms-transform: rotate(45deg) scale(0, 2);
          transform: rotate(45deg) scale(0, 2);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.mk-employees.classic .mk-employee-item:hover .employee-hover-overlay {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg) scale(1.5, 2);
      -ms-transform: rotate(45deg) scale(1.5, 2);
          transform: rotate(45deg) scale(1.5, 2);
}
.mk-employees.classic .mk-employeee-networks {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 1;
}
.mk-employees.classic .mk-employeee-networks a {
  display: block;
  margin: 0 6px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 44px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) inset;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.1s ease-out;
}
.mk-employees.classic .mk-employeee-networks a i {
  font-size: 16px;
  color: #ffffff;
}
.mk-employees.classic .mk-employeee-networks a:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6) inset;
}
.mk-employees.classic .mk-employee-item:hover .mk-employeee-networks {
  opacity: 1;
  transition: all 0.3s 0.1s ease-out;
}
/* ==========================================================================
   Simple Style
   ========================================================================== */
.mk-employees.simple .team-thumbnail img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: all .3s;
}
.mk-employees.simple .mk-employee-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.mk-employees.simple .team-thumbnail.rounded-true {
  border-radius: 50%;
  overflow: hidden;
}
.mk-employees.simple .team-thumbnail.rounded-true img {
  position: relative;
  border-radius: 50%;
}
.mk-employees.simple.one-column .team-thumbnail.rounded-true {
  padding: 0 40px;
}
.mk-employees.simple.two-column .team-thumbnail.rounded-true {
  padding: 0 60px;
}
.mk-employees.simple.three-column .team-thumbnail.rounded-true {
  padding: 0 40px;
}
.mk-employees.simple.four-column .team-thumbnail.rounded-true {
  padding: 0 30px;
}
.mk-employees.simple.five-column .team-thumbnail.rounded-true {
  padding: 0 20px;
}
/* ==========================================================================
   Boxed Style
   ========================================================================== */
.mk-employees.boxed.one-column .mk-employee-item,
.mk-employees.boxed.one-column .item-holder {
  margin: 55px 0 20px;
}
.mk-employees.boxed .item-holder {
  margin: 55px 0 25px 25px;
  padding: 60px 35px 36px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.03);
  position: relative;
}
.mk-employees.boxed .team-thumbnail {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -50px;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  overflow: hidden;
}
.mk-employees.boxed .team-thumbnail img {
  position: relative;
  border-radius: 50%;
}
.mk-employees.boxed .team-member-name {
  margin-top: 10px;
  letter-spacing: 1px;
}
.mk-employees.boxed .mk-employeee-networks a {
  padding: 0 8px;
}
/* ==========================================================================
   GLOBAL RULLSETS
   global prop added to main div as atomes .
   ========================================================================== */
.mk-employees ul,
.mk-employees li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mk-employee-item .team-thumbnail {
  margin: 0 auto 25px;
}
.mk-employee-item .team-thumbnail img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.mk-employeee-networks li {
  display: inline-block;
}
.mk-employeee-networks a {
  margin: 10px 9px 0 0;
}
.mk-employeee-networks i {
  font-size: 16px;
  color: #aaaaaa;
}
.mk-employeee-networks:hover i {
  transition: all 0.2s;
  color: #797979;
}
@media handheld, only screen and (max-width: 960px) {
  .mk-employees.c_cs.u4col .mk-employee-item {
    margin: 0 0 50px;
    width: 100%;
  }
  .mk-employees.c_cs.u4col .team-thumbnail,
  .mk-employees.c_cs.u4col .team-info-wrapper {
    float: left;
    display: inline-block;
  }
  .mk-employees.c_cs.u4col .team-info-wrapper {
    padding: 10px 0 0 20px;
  }
  .mk-employees.simple.u4col .team-thumbnail {
    width: 30%;
  }
  .mk-employees.simple.u4col .team-info-wrapper {
    width: 65%;
  }
  .mk-employees.classic.u4col .team-thumbnail {
    width: 50%;
  }
  .mk-employees.classic.u4col .team-info-wrapper {
    width: 45%;
  }
  .mk-employees.c_cs.o3col .mk-employee-item {
    width: 48%;
    padding: 0 20px 30px;
  }
  .boxed .mk-employee-item {
    width: 100% !important;
    padding: 60px 10px 36px;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .mk-employees .m_7 {
    width: 100% !important;
  }
  .mk-employees.classic.u6col .mk-employee-item {
    padding: 0 10px 30px;
  }
  .mk-employees.classic.u6col .team-thumbnail {
    width: 100%;
  }
  .mk-employees.simple.u6col .team-thumbnail {
    width: 60%;
    float: none;
  }
  .mk-employees.c_cs.u6col .mk-employee-item {
    margin: 0 0px 50px;
  }
}
@media handheld, only screen and (max-width: 550px) {
  .mk-employees.simple.u6col .team-thumbnail {
    width: 80%;
  }
}