.mk-news-tab .mk-tabs-tabs {
  z-index: 10;
}
.mk-news-tab .mk-tabs-panes {
  z-index: 1;
}
.mk-news-tab .mk-tabs-panes .mk-tabs-pane {
  z-index: 8;
}
.mk-news-tab-heading {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;
  border-bottom: none;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-news-tab-heading {
    border: 0;
  }
}
.mk-news-tab-title {
  float: left;
  font-size: 14px;
  line-height: 12px;
  padding: 14px 20px 0 20px;
  font-weight: bold;
  color: #333333;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-news-tab-title {
    display: none;
  }
}
.mk-news-tab {
  margin-bottom: 20px;
}
.mk-news-tab .mk-tabs-tabs {
  margin: 0 0 -1px 0 !important;
  position: relative;
  float: right;
}
.mk-news-tab .mk-tabs-tabs li {
  margin: 0;
  position: relative;
  padding: 0;
  display: inline;
  float: left;
}
.mk-news-tab .mk-tabs-tabs li.is-active > a {
  cursor: default;
  border-bottom: none;
  background: -o-linear-gradient(top, transparent, transparent);
  padding-bottom: 16px;
}
.mk-news-tab .mk-tabs-tabs li a {
  font-weight: bold;
  color: #333333;
  display: block;
  line-height: 100%;
  padding: 15px 20px;
  margin: 0;
  border-left: 1px solid #dbdbdb;
  white-space: nowrap;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-news-tab .mk-tabs-tabs {
    float: none;
  }
  .mk-news-tab .mk-tabs-tabs li {
    display: block;
    float: none;
  }
  .mk-news-tab .mk-tabs-tabs li a {
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }
  .mk-news-tab .mk-tabs-tabs li.is-active > a {
    border-top: 1px solid #dbdbdb;
    padding-bottom: 15px;
  }
}
.mk-news-tab .mk-tabs-panes {
  position: relative;
  margin: 0;
  border: 1px solid #dbdbdb;
}
.mk-news-tab .mk-tabs-panes .title-mobile {
  display: none;
  color: #444444;
  white-space: nowrap;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}
.mk-news-tab .mk-tabs-panes .mk-tabs-pane {
  position: relative;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-news-tab.mobile-true .mk-tabs-panes {
    display: block;
    border: 0;
  }
  .mk-news-tab.mobile-true .mk-tabs-pane {
    padding: 0;
    margin-bottom: 20px;
  }
  .mk-news-tab.mobile-true .title-mobile {
    display: block;
  }
  .mk-news-tab.mobile-true .mk-news-tab-heading .mk-tabs-tabs {
    display: none !important;
  }
}
.news-tab-wrapper {
  float: left;
  width: 50%;
  padding: 15px;
}
@media handheld, only screen and (max-width: 767px) {
  .news-tab-wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
.news-tab-wrapper .news-tab-thumb {
  margin-bottom: 20px;
  display: block;
}
.news-tab-wrapper .the-title {
  line-height: 16px;
  margin-bottom: 5px;
}
.news-tab-wrapper .the-title a {
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  color: #333333;
}
.news-tab-wrapper .new-tab-readmore i {
  padding-left: 6px;
  font-size: 14px;
}
.mk-tabs-pane {
  padding: 0;
}
.mk-tabs-pane.is-active {
  padding: 20px;
}
