.mk-edge-one-pager .mk-grid {
  position: relative;
}
.mk-edge-one-pager .section {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.mk-edge-one-pager .section .edge-slide-content {
  margin-top: 100px;
}
.mk-edge-one-pager .section.left_top .edge-slide-content,
.mk-edge-one-pager .section.center_top .edge-slide-content,
.mk-edge-one-pager .section.right_top .edge-slide-content {
  margin-top: 160px;
}
.mk-edge-one-pager .section.center_top .mk-edge-title,
.mk-edge-one-pager .section.center_center .mk-edge-title,
.mk-edge-one-pager .section.center_bottom .mk-edge-title,
.mk-edge-one-pager .section.center_top .mk-edge-desc,
.mk-edge-one-pager .section.center_center .mk-edge-desc,
.mk-edge-one-pager .section.center_bottom .mk-edge-desc,
.mk-edge-one-pager .section.center_top .mk-edge-buttons,
.mk-edge-one-pager .section.center_center .mk-edge-buttons,
.mk-edge-one-pager .section.center_bottom .mk-edge-buttons {
  text-align: center;
}
.mk-edge-one-pager .section.center_top .edge-slide-content,
.mk-edge-one-pager .section.center_center .edge-slide-content,
.mk-edge-one-pager .section.center_bottom .edge-slide-content {
  margin-right: auto;
  margin-left: auto;
}
.mk-edge-one-pager .section.right_top,
.mk-edge-one-pager .section.right_center,
.mk-edge-one-pager .section.right_bottom {
  text-align: right;
}
.mk-edge-one-pager .section.right_top .edge-slide-content,
.mk-edge-one-pager .section.right_center .edge-slide-content,
.mk-edge-one-pager .section.right_bottom .edge-slide-content {
  float: right;
}
.mk-edge-one-pager .edge-slide-content.caption-light .mk-edge-title,
.mk-edge-one-pager .edge-slide-content.caption-light .mk-edge-desc {
  color: #ffffff;
}
.mk-edge-one-pager .edge-slide-content.caption-dark .mk-edge-title,
.mk-edge-one-pager .edge-slide-content.caption-dark .mk-edge-desc {
  color: #252525;
}
.mk-edge-one-pager .mk-edge-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
}
.mk-edge-one-pager .mk-edge-desc {
  font-weight: 200;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 30px;
}
.mk-edge-one-pager .mk-edge-buttons {
  margin-top: 30px;
}
.mk-edge-one-pager .edge-default_anim .mk-edge-title {
  transition: all 0.4s ease-in-out 0.8s;
}
.mk-edge-one-pager .edge-default_anim .mk-edge-desc {
  transition: all 0.4s ease-in-out 0.9s;
}
.mk-edge-one-pager .edge-default_anim .mk-edge-buttons {
  transition: all 0.4s ease-in-out 1s !important;
}
.mk-edge-one-pager .edge-default_anim .mk-edge-buttons a {
  transition: all 0.2s ease-in-out;
}
.mk-edge-one-pager .edge-default_anim .mk-edge-title,
.mk-edge-one-pager .edge-default_anim .mk-edge-desc,
.mk-edge-one-pager .edge-default_anim .mk-edge-buttons {
  -webkit-transform: translate(0, 70px);
  -ms-transform: translate(0, 70px);
  transform: translate(0, 70px);
  ms-transform: translate(0, 70px);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.mk-edge-one-pager .active .edge-default_anim .mk-edge-title,
.mk-edge-one-pager .active .edge-default_anim .mk-edge-desc,
.mk-edge-one-pager .active .edge-default_anim .mk-edge-buttons {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-fade-in .mk-edge-title,
.mk-edge-one-pager .edge-slide-top .mk-edge-title,
.mk-edge-one-pager .edge-slide-left .mk-edge-title,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-title,
.mk-edge-one-pager .edge-slide-right .mk-edge-title,
.mk-edge-one-pager .edge-scale-down .mk-edge-title,
.mk-edge-one-pager .edge-fade-in .mk-edge-desc,
.mk-edge-one-pager .edge-slide-top .mk-edge-desc,
.mk-edge-one-pager .edge-slide-left .mk-edge-desc,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-desc,
.mk-edge-one-pager .edge-slide-right .mk-edge-desc,
.mk-edge-one-pager .edge-scale-down .mk-edge-desc,
.mk-edge-one-pager .edge-fade-in .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-top .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-left .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-right .mk-edge-buttons,
.mk-edge-one-pager .edge-scale-down .mk-edge-buttons {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.mk-edge-one-pager .edge-fade-in .mk-edge-title,
.mk-edge-one-pager .edge-slide-top .mk-edge-title,
.mk-edge-one-pager .edge-slide-left .mk-edge-title,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-title,
.mk-edge-one-pager .edge-slide-right .mk-edge-title,
.mk-edge-one-pager .edge-scale-down .mk-edge-title {
  transition: all 0.4s ease-in-out 0.8s;
}
.mk-edge-one-pager .edge-fade-in .mk-edge-desc,
.mk-edge-one-pager .edge-slide-top .mk-edge-desc,
.mk-edge-one-pager .edge-slide-left .mk-edge-desc,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-desc,
.mk-edge-one-pager .edge-slide-right .mk-edge-desc,
.mk-edge-one-pager .edge-scale-down .mk-edge-desc {
  transition: all 0.4s ease-in-out 0.9s;
}
.mk-edge-one-pager .edge-fade-in .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-top .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-left .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-buttons,
.mk-edge-one-pager .edge-slide-right .mk-edge-buttons,
.mk-edge-one-pager .edge-scale-down .mk-edge-buttons {
  transition: all 0.4s ease-in-out 1s;
}
.mk-edge-one-pager .active .edge-fade-in .mk-edge-title,
.mk-edge-one-pager .active .edge-fade-in .mk-edge-desc,
.mk-edge-one-pager .active .edge-fade-in .mk-edge-buttons {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-slide-top .mk-edge-title,
.mk-edge-one-pager .edge-slide-top .mk-edge-desc,
.mk-edge-one-pager .edge-slide-top .mk-edge-buttons {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  ms-transform: translate(0, -50%);
}
.mk-edge-one-pager .active .edge-slide-top .mk-edge-title,
.mk-edge-one-pager .active .edge-slide-top .mk-edge-desc,
.mk-edge-one-pager .active .edge-slide-top .mk-edge-buttons {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-slide-left .mk-edge-title,
.mk-edge-one-pager .edge-slide-left .mk-edge-desc,
.mk-edge-one-pager .edge-slide-left .mk-edge-buttons {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  ms-transform: translate(-50%, 0);
}
.mk-edge-one-pager .active .edge-slide-left .mk-edge-title,
.mk-edge-one-pager .active .edge-slide-left .mk-edge-desc,
.mk-edge-one-pager .active .edge-slide-left .mk-edge-buttons {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-slide-bottom .mk-edge-title,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-desc,
.mk-edge-one-pager .edge-slide-bottom .mk-edge-buttons {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  ms-transform: translate(0, 50%);
}
.mk-edge-one-pager .active .edge-slide-bottom .mk-edge-title,
.mk-edge-one-pager .active .edge-slide-bottom .mk-edge-desc,
.mk-edge-one-pager .active .edge-slide-bottom .mk-edge-buttons {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-slide-right .mk-edge-title,
.mk-edge-one-pager .edge-slide-right .mk-edge-desc,
.mk-edge-one-pager .edge-slide-right .mk-edge-buttons {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  transform: translate(50%, 0);
  ms-transform: translate(50%, 0);
}
.mk-edge-one-pager .active .edge-slide-right .mk-edge-title,
.mk-edge-one-pager .active .edge-slide-right .mk-edge-desc,
.mk-edge-one-pager .active .edge-slide-right .mk-edge-buttons {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.mk-edge-one-pager .edge-scale-down .mk-edge-title,
.mk-edge-one-pager .edge-scale-down .mk-edge-desc,
.mk-edge-one-pager .edge-scale-down .mk-edge-buttons {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  ms-transform: scale(1.3);
}
.mk-edge-one-pager .active .edge-scale-down .mk-edge-title,
.mk-edge-one-pager .active .edge-scale-down .mk-edge-desc,
.mk-edge-one-pager .active .edge-scale-down .mk-edge-buttons {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  ms-transform: scale(1);
}
.mk-edge-one-pager .edge-flip-x,
.mk-edge-one-pager .edge-flip-y {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-perspective: 1000;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.mk-edge-one-pager .active .edge-flip-x {
  -webkit-animation-name: mk_flip_x;
  animation-name: mk_flip_x;
}
.mk-edge-one-pager .active .edge-flip-y {
  -webkit-animation-name: mk_flip_y;
  animation-name: mk_flip_y;
}


@media handheld, only screen and (max-width: 1140px) {
  .mk-edge-one-pager .mk-grid {
    box-sizing: border-box;
    padding: 0 20px;
  }
  .mk-edge-one-pager .mk-edge-title {
    font-weight: 600;
    font-size: 40px;
  }
  .mk-edge-one-pager .mk-edge-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }
  .mk-edge-one-pager .edge-slide-content {
    width: 80%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .mk-edge-one-pager .mk-grid {
    padding: 0 15px;
  }
  .mk-edge-one-pager .mk-edge-title {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 130% !important;
  }
  .mk-edge-one-pager .mk-edge-desc {
    font-size: 14px;
    line-height: 22px !important;
  }
  .mk-edge-one-pager .mk-edge-buttons .mk-button {
    padding: 12px 14px !important;
    font-size: 10px !important;
    margin-right: 15px !important;
  }
  .mk-edge-one-pager .mk-edge-buttons .mk-button.outline-dimension {
    padding-top: 10px !important;
    padding-bottom: 12px !important;
  }
  .mk-edge-one-pager .mk-button-align.left,
  .mk-edge-one-pager .mk-button-align.center,
  .mk-edge-one-pager .mk-button-align.right,
  .mk-edge-one-pager .mk-button-align.none {
    width: auto !important;
    margin-bottom: 6px;
  }
  .mk-edge-one-pager .edge-slide-content {
    width: 100% !important;
  }
}


#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1 */
  touch-action: none;
}
.section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slide,
.slidesContainer {
  height: 100%;
  display: block;
}
.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.section.table,
.slide.table {
  display: table;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.slidesContainer {
  float: left;
  position: relative;
}
.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}
.controlArrow.prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.controlArrow.next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.scrollable {
  overflow: scroll;
}
.easing {
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
}
/* ===============================================================
Pagination Styles
================================================================ */
.fullPage-slidesNav {
  position: absolute;
  left: 50%;
  opacity: 1;
}
.fullPage-slidesNav.bottom {
  bottom: 17px;
}
.fullPage-slidesNav.top {
  top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0;
}
.fullPage-tooltip {
  display: none !important;
}
.fullPage-tooltip.right {
  right: 20px;
}
.fullPage-tooltip.left {
  left: 20px;
}
#fullPage-nav {
  position: fixed;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}
#fullPage-nav ul {
  list-style: none;
}
#fullPage-nav.right {
  right: 17px;
}
#fullPage-nav.left {
  left: 17px;
}
#fullPage-nav a {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
#fullPage-nav a span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  /* make the text accessible to screen readers */
  position: absolute;
}
#fullPage-nav.dark-skin span {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
}
#fullPage-nav.light-skin span {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}
/* Stroke */
#fullPage-nav.pagination-stroke a span {
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
#fullPage-nav.pagination-stroke.dark-skin span {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}
#fullPage-nav.pagination-stroke.dark-skin a span:hover,
#fullPage-nav.pagination-stroke.dark-skin a span:focus {
  background-color: #333;
}
#fullPage-nav.pagination-stroke.dark-skin a.active span {
  background-color: transparent;
  box-shadow: 0 0 0 2px #333;
}
#fullPage-nav.pagination-stroke.light-skin span {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}
#fullPage-nav.pagination-stroke.light-skin a span:hover,
#fullPage-nav.pagination-stroke.light-skin a span:focus {
  background-color: white;
}
#fullPage-nav.pagination-stroke.light-skin a.active span {
  background-color: transparent;
  box-shadow: 0 0 0 2px white;
}
/* Small dot with stroke */
#fullPage-nav.pagination-small_dot_stroke a {
  border-radius: 50%;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
#fullPage-nav.pagination-small_dot_stroke a span {
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#fullPage-nav.pagination-small_dot_stroke a.active span {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
#fullPage-nav.pagination-small_dot_stroke.dark-skin span {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}
#fullPage-nav.pagination-small_dot_stroke.dark-skin a span {
  background-color: rgba(0, 0, 0, 0.7);
}
#fullPage-nav.pagination-small_dot_stroke.dark-skin a span:hover,
#fullPage-nav.pagination-small_dot_stroke.dark-skin a span:focus,
#fullPage-nav.pagination-small_dot_stroke.dark-skin a.active span {
  background-color: #333333;
}
#fullPage-nav.pagination-small_dot_stroke.dark-skin a.active {
  box-shadow: 0 0 0 2px #333;
}
#fullPage-nav.pagination-small_dot_stroke.light-skin span {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}
#fullPage-nav.pagination-small_dot_stroke.light-skin a span {
  background-color: rgba(255, 255, 255, 0.7);
}
#fullPage-nav.pagination-small_dot_stroke.light-skin a span:hover,
#fullPage-nav.pagination-small_dot_stroke.light-skin a span:focus,
#fullPage-nav.pagination-small_dot_stroke.light-skin a.active span {
  background-color: #ffffff;
}
#fullPage-nav.pagination-small_dot_stroke.light-skin a.active {
  box-shadow: 0 0 0 2px white;
}