.mk-button {
	box-sizing: border-box;
	transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
}
.mk-button .mk-button--icon{
	margin: -2px 15px 0 0;
	line-height: 4px;
	font-size: 16px;
}

/*Button Corner Style*/
.mk-button--corner-pointed,
.mk-button--corner-pointed .double-outline-inside {
	border-radius: 0;
}
.mk-button--corner-rounded,
.mk-button--corner-rounded .double-outline-inside {
	border-radius: 3px;
}
.mk-button--corner-full_rounded,
.mk-button--corner-full_rounded .double-outline-inside {
	border-radius: 50px;
}

/*Button Size*/
.mk-button--size-small {
	padding: 12px 18px;
	font-size: 10px;
	line-height: 100%;
}

.mk-button--size-medium {
	padding: 14px 24px;
	font-size: 12px;
	line-height: 100%;
}
.mk-button--size-large {
	padding: 20px 28px;
	font-size: 14px;
	line-height: 100%;
}
.mk-button--size-x-large {
	padding: 28px 36px;
	font-size: 16px;
	line-height: 100%;
}
.mk-button--size-xx-large {
	padding: 38px 44px;
	font-size: 18px;
	line-height: 100%;
}



/*Button Style*/

/*3D and 2D button style*/
.mk-button--dimension-three.text-color-light ,
.mk-button--dimension-two.text-color-light {
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.mk-button--dimension-three.text-color-dark ,
.mk-button--dimension-two.text-color-dark {
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.mk-button--dimension-two {
	box-shadow: inset 0 0 1px rgba(0,0,0,.8);
}

/*Flat button style*/
.mk-button--dimension-flat.text-color-light {
	color: #ffffff;
}
.mk-button--dimension-flat.text-color-dark {
	color: #252525;
}


/*Outline, Double Outline, Savvy Button common style*/
.mk-button--dimension-outline,
.mk-button--dimension-savvy {
	border-width: 2px;
	border-style: solid;
}
.mk-button--dimension-outline.skin-dark,
.mk-button--dimension-savvy.skin-dark {
	border-color: #252525;
	color: #252525;
}

.mk-button--dimension-outline.skin-light,
.mk-button--dimension-savvy.skin-light {
	border-color: #ffffff;
	color: #ffffff;
}


/*Outline button style*/

.mk-button--dimension-outline.skin-dark:hover {
	background-color: #252525;
	color: #ffffff;
}
.mk-button--dimension-outline.skin-light:hover {
	background-color: #ffffff;
	color: #252525;
}

/*Savvy button style*/
.mk-button--dimension-savvy {
	overflow: hidden;
}
.mk-button--dimension-savvy::after {
	content: "";
	position: absolute;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
	height: 0;
	width: 0;
	opacity: 0;
}
.mk-button--dimension-savvy.mk-button--corner-full_rounded{
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.mk-button--dimension-savvy .mk-button--text,
.mk-button--dimension-savvy .mk-button--icon {
	position: relative;
	z-index: 2;
}
.mk-button--dimension-savvy:hover::after {
	width: 100%;
	height: 4000%;
	opacity: 1;
}
.mk-button--dimension-savvy.skin-dark:hover {
	color: #ffffff;
}
.mk-button--dimension-savvy.skin-light:hover {
	color: #252525;
}
.mk-button--dimension-savvy.skin-dark::after {
	background-color: #252525;
}
.mk-button--dimension-savvy.skin-light::after {
	background-color: #ffffff;
}

/*Double Outline button style*/

.mk-button--dimension-double-outline,
.mk-button--dimension-double-outline .double-outline-inside {
	border-width: 1px;
	border-style: solid;
}
.mk-button--dimension-double-outline .double-outline-inside {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: -4px;
	top: -4px;
	box-sizing: border-box;
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	z-index: 1;
}
.mk-button--dimension-double-outline.skin-dark{
	background-color: #222222;
	color: #ffffff;
}
.mk-button--dimension-double-outline.skin-dark,
.mk-button--dimension-double-outline.skin-dark .double-outline-inside {
	border-color: #222222;
}

.mk-button--dimension-double-outline.skin-dark:hover{
	background-color: #ffffff;
	color: #222222;
}

.mk-button--dimension-double-outline.skin-light{
	background-color: #ffffff;
	color: #222222;
}
.mk-button--dimension-double-outline.skin-light,
.mk-button--dimension-double-outline.skin-light .double-outline-inside {
	border-color: #ffffff;
}

.mk-button--dimension-double-outline.skin-light:hover{
	background-color: #222222;
	color: #ffffff;
}


/*Button animation */
.mk-button--anim-vertical,
.mk-button--anim-side { 
	overflow: hidden;
}
.mk-button--anim-side .mk-button .mk-button--icon {
	opacity: 0;
	transform: translateX(-30px);
	-webkit-transform: translateX(-30px);
	transition: opacity .2s, transform .2s; 
	-webkit-transition: opacity .2s, -webkit-transform .2s; 
}
.mk-button--anim-side .mk-button .mk-button--text {
	display: inline-block;
	transform: translateX(-17px);
	-webkit-transform: translateX(-17px);
	transition: transform .2s;
	-webkit-transition: -webkit-transform .2s;
	transition-delay: .01s;
	-webkit-transition-delay: .01s;
}
.mk-button--anim-side .mk-button.mk-button--size-large .mk-button--text,
.mk-button--anim-side .mk-button.mk-button--size-x-large .mk-button--text {
	transform: translateX(-17.5px);
	-webkit-transform: translateX(-17.5px);
}
.mk-button--anim-side .mk-button.mk-button--size-xx-large .mk-button--text {
	transform: translateX(-18px);
	-webkit-transform: translateX(-18px);
}
.mk-button--anim-side .mk-button:hover .mk-button--icon {
	opacity: 1;
}
.mk-button--anim-side .mk-button:hover .mk-button--text,
.mk-button--anim-side .mk-button:hover .mk-button--icon {
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.mk-button--anim-vertical .mk-button .mk-button--icon,
.mk-button--anim-vertical .mk-button .mk-button--icon:before,
.mk-button--anim-vertical .mk-button .mk-button--text {
	position: absolute;
	transition: transform .2s;
	-webkit-transition: -webkit-transform .2s;
	display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 100%;
}

.mk-button--anim-vertical .mk-button .mk-button--icon {
	display: block;
	transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
	margin: auto;
}
.mk-button--anim-vertical .mk-button .mk-button--text {
	position: absolute;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}
.mk-button--anim-vertical .mk-button:hover .mk-button--icon {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}
.mk-button--anim-vertical .mk-button:hover .mk-button--text {
	transform: translate3d(0, 100%, 0);
	-webkit-transform: translate3d(0, 100%, 0);
}

.mk-button--dimension-outline.mk-button--size-small,
.mk-button--dimension-savvy.mk-button--size-small {
  padding: 10px 18px;
}
.mk-button--dimension-outline.mk-button--size-medium,
.mk-button--dimension-savvy.mk-button--size-medium {
  padding: 12px 24px;
}
.mk-button--dimension-outline.mk-button--size-large,
.mk-button--dimension-savvy.mk-button--size-large {
  padding: 18px 28px;
}
.mk-button--dimension-outline.mk-button--size-x-large,
.mk-button--dimension-savvy.mk-button--size-x-large {
  padding: 26px 36px;
}
.mk-button--dimension-outline.mk-button--size-xx-large,
.mk-button--dimension-savvy.mk-button--size-xx-large {
  padding: 36px 44px;
}

button.mk-button,
input[type="text"].mk-button {
  outline: none;
  background: none;
  line-height: 100%;
}
button.mk-button::-moz-focus-inner,
input[type="text"].mk-button::-moz-focus-inner {
  border: none;
}

@media handheld, only screen and (max-width: 767px) {
  .mk-button-container {
  	display: block;
  	text-align: center;
  	width: 100%;
  }
  .mk-button-container .mk-button {
  	float: none;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .ls-wp-container .mk-button {
    padding: 8px 10px;
    font-size: 10px;
    line-height: 100%;
  }
  .ls-wp-container .mk-button i {
    margin-top: -3px;
    font-size: 10px;
  }
}
@media handheld, only screen and (max-width: 550px) {
  .ls-wp-container .mk-button {
    padding: 5px 8px;
    font-size: 8px;
    line-height: 100%;
  }
  .ls-wp-container .mk-button i {
    margin-top: -3px;
    font-size: 10px;
  }
}

/*Other Button Styling*/
.button,
.shop-flat-btn,
.mk-flat-button,
#review_form_wrapper input[type=submit],
.woocommerce-product-search input[type=submit] {
  border: none !important;
  outline: none !important;
  color: #ffffff !important;
  font-size: 13px;
  line-height: 13px !important;
  padding: 12px 15px !important;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: 1px;
  display: inline-block;
}
.button i,
.shop-flat-btn i,
.mk-flat-button i,
#review_form_wrapper input[type=submit] i,
.woocommerce-product-search input[type=submit] i {
  color: #ffffff !important;
  font-size: 16px;
  line-height: 16px !important;
  margin-right: 10px;
}
.button.alt,
.shop-flat-btn.alt,
.mk-flat-button.alt,
#review_form_wrapper input[type=submit].alt,
.woocommerce-product-search input[type=submit].alt {
  text-shadow: none !important;
}
.button.alt:hover,
.shop-flat-btn.alt:hover,
.mk-flat-button.alt:hover,
#review_form_wrapper input[type=submit].alt:hover,
.woocommerce-product-search input[type=submit].alt:hover {
  background-color: #252525 !important;
}
.button.shop-black-btn,
.shop-flat-btn.shop-black-btn,
.mk-flat-button.shop-black-btn,
#review_form_wrapper input[type=submit].shop-black-btn,
.woocommerce-product-search input[type=submit].shop-black-btn {
  background-color: #252525;
}
.button.shop-black-btn:hover,
.shop-flat-btn.shop-black-btn:hover,
.mk-flat-button.shop-black-btn:hover,
#review_form_wrapper input[type=submit].shop-black-btn:hover,
.woocommerce-product-search input[type=submit].shop-black-btn:hover {
  background-color: #707070;
}
.button:hover,
.shop-flat-btn:hover,
.mk-flat-button:hover,
#review_form_wrapper input[type=submit]:hover,
.woocommerce-product-search input[type=submit]:hover {
  background-color: #323232 !important;
}
#review_form_wrapper input[type=submit]:hover {
  background-color: #252525 !important;
}
a.shop-flat-btn,
a.mk-flat-button {
  font-weight: bold;
  display: inline-block;
}
a.shop-flat-btn:hover,
a.mk-flat-button:hover {
  color: #ffffff;
}
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: #555555 !important;
  border-color: #cccccc !important;
  height: 24px !important;
  line-height: 22px !important;
  padding: 0 8px 1px !important;
  font-size: 11px !important;
  border: 1px solid #cccccc!important;
  background: #f7f7f7!important;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 rgba(0, 0, 0, 0.08) !important;
}
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
  background: #eeeeee!important;
}
.IE9 .mk-button.savvy-dimension:after {
  top: 0;
  left: 0;
}