/* Shortcode:Imagebox
-------------------------------------------------------------------- */
.mk-imagebox {
  margin-bottom: 20px;
  position: relative;
}
.mk-imagebox .swiper-navigation {
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
  display: block;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.mk-imagebox .swiper-navigation .swiper-arrows {
  font-size: 24px;
  color: #cccccc;
  color: rgba(128, 128, 128, 0.2);
}
.mk-imagebox .swiper-navigation .swiper-arrows:hover {
  color: rgba(128, 128, 128, 0.4);
}
.mk-imagebox .swiper-navigation .mk-swiper-next {
  float: right;
}
.mk-imagebox:hover .swiper-navigation {
  opacity: 1;
}
.mk-imagebox.column-style .swiper-slide {
  float: none;
}
.mk-imagebox .slide-style .swiper-slide .mk-imagebox-item {
  width: 100%;
}
.mk-imagebox .one-column .mk-imagebox-item {
  width: 100%;
}
.mk-imagebox .two-column .mk-imagebox-item {
  width: 49.96%;
}
.mk-imagebox .three-column .mk-imagebox-item {
  width: 33.31%;
}
.mk-imagebox .four-column .mk-imagebox-item {
  width: 24.96%;
}
.mk-imagebox .five-column .mk-imagebox-item {
  width: 19.96%;
}
.mk-imagebox .six-column .mk-imagebox-item {
  width: 16.6%;
}
.mk-imagebox .video-type .item-image {
  display: none;
}
@media handheld, only screen and (max-width: 1024px) {
  .mk-imagebox .video-type .item-image {
    display: block;
  }
  .mk-imagebox .mk-imagebox-video {
    display: none!important;
  }
}
@media handheld, only screen and (max-width: 960px) {
  .mk-imagebox .two-column .mk-imagebox-item,
  .mk-imagebox .three-column .mk-imagebox-item,
  .mk-imagebox .four-column .mk-imagebox-item,
  .mk-imagebox .five-column .mk-imagebox-item,
  .mk-imagebox .six-column .mk-imagebox-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .mk-imagebox .two-column img,
  .mk-imagebox .three-column img,
  .mk-imagebox .four-column img,
  .mk-imagebox .five-column img,
  .mk-imagebox .six-column img {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 540px) {
  .mk-imagebox .mk-imagebox-item {
    width: 100% !important;
  }
  .mk-imagebox .mk-imagebox-item .item-holder {
    margin: 0 !important;
  }
}
/* Image Item */
.mk-imagebox-item {
  float: left;
}
.mk-imagebox-item .item-holder {
  position: relative;
  overflow: hidden;
}
.mk-imagebox-item .item-image {
  text-align: center;
  padding: 0;
}
.mk-imagebox-item .item-image img {
  width: 100%;
}
.mk-imagebox-item .item-image.padding-true {
  padding: 5% 5% 0;
}
.mk-imagebox-item .item-title {
  line-height: 1.66em;
  padding: 10% 10% 7%;
  letter-spacing: 1px;
}
.mk-imagebox-item .item-title h5 {
  margin: 0;
  text-align: center;
}
.mk-imagebox-item .item-content {
  padding: 0% 13% 7%;
}
.mk-imagebox-item .item-wrapper p {
  text-align: center;
}
.mk-imagebox-item .mk-video-container {
  padding-top: 0;
  padding-bottom: 56.5% !important;
}
.mk-imagebox-item .mk-video-container video,
.mk-imagebox-item .mk-video-container iframe {
  width: 100%;
}
.mk-imagebox-item .mk-video-wrapper.padding-true {
  padding: 5% 5% 0;
}
.mk-imagebox-item .mk-imagebox-video {
  display: block;
  width: 100%;
}
.mk-imagebox-item .mk-imagebox-video video {
  display: block;
  width: 100%;
}
.mk-imagebox-item .item-button a {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s ease-out;
}

.mk-slider-holder .mk-imagebox-item {
  float: none;
  margin-left: auto;
  margin-right: auto;
}